.approvePopup-container{
    border:0.2px solid rgb(235, 233, 233);
    width: 600px;
    height: 350px;
    margin-top: 60%;
    margin-left: 15%;
    padding-top: 5%;
    padding-left:15%;
    background-color: rgb(245, 248, 252);
    border-radius: 5%;
}
.approve-btn{
  background-color:#696cff;
  color:white;
  width: 120px;
  height: 40px;
  border-radius: 6.5%;
  border: none;
  outline: none;

}
.approve-btn:hover{
    width: 150px;
    height: 45px;
}
.popup-details{
    text-align: left;
    margin:0;
    padding-top: 5%;
    
}