.table-container{
    margin-left:20%;
}
.table-head{
    color:#696cff;
}
.action{
    cursor: pointer;

}
.status{
    margin:3%;
    padding:2%;
}
.active{
    color:rgb(122, 57, 240);
    background-color: rgb(232, 222, 251);
}
.complete{
    color:rgb(131,225,80);
    background-color: #E8FADF;
}
.schedule{
    color:#13C6ED;
    background-color:#e3f6fa;
}
.pending{
    color:rgb(255,186,45);
    background-color: rgb(251, 240, 218);
}

/*  */


.table>:not(caption)>*>* {
    /* padding: 0.5rem 0.5rem; */
    padding:15px 90px;
    background-color: white;
    border-bottom-width: 1px;
    box-shadow: 0.2px 0.5px #888888;
    text-indent: initial;
    border-spacing: 2px;

}
*, ::after, ::before {
    box-sizing: border-box;
}
table{
    caption-side: bottom;
    border-collapse: collapse;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
table tr td,table tr td{
    text-align: center;
}
th{
    border-color: inherit;
    border-style: solid;
    border-width: 0;

}
td {
    display: table-cell;
    vertical-align: inherit;
}
@media only screen and (max-width: 500px) {

    table,head,tbody,th,td,tr {
       display: block;
   }
   thead tr {
   display: none;
   }
   tr {
    border: 1px solid #ccc; 
   }
   td {
   border: none;
   border-bottom: 1px solid #eee;
   position: relative;
   padding-left: 50%;
   white-space: normal;
   text-align:left;
   min-height: 30px;
   overflow: hidden;
   word-break:break-all;
   }
   td:before {
   position: absolute;
   top: 6px;
   left: 6px;
   width: 45%;
   padding-right: 10px;
   text-align:left;
   font-weight: bold;
   }
   td:before { content: attr(data-title); }
}