.upload-docs{
     margin-left:20%;
     margin-top:3%;
     /* padding:3%; */
 }

.form-container{
    border:0.4px solid rgb(232, 232, 232);
}
 
.form-head{
    color:#696cff;
}
.span-btn{
   margin-top:5%;
}
label{
    display: block;
    text-align: left;
    margin-bottom: 4%;
    margin-top:8%;
    font-size:18px;
}

.btn-file {
    margin-bottom : 4%;
    background-color: #696CFF;
    color:white; 
  }


.btn-file input[type=file] {
  width: 180px;
  height:10px;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: pointer;
  display: block;
}
.btn{
    color:white;
}
.flex-item{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}