.upload-docs{
     margin:20%;
     padding:3%;
 }

.form-container{
    border:0.4px solid rgb(232, 232, 232);
    padding:3%;
    margin: 0 10%;
}

.form-head{
    color:#696cff;
}
.span-btn{
   margin-top:5%;
}
label{

    display: block;
    text-align: left;
    margin-bottom: 4%;
    font-size:18px;
}

.btn-file {
    /* position: relative; */
    /* overflow: hidden; */
    margin-bottom : 4%;
    background-color : #696CFF;
    /* color:white; */
  }


.btn-file input[type=file] {
position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: pointer;
  display: block;
}

.flex-item{
    margin-top: 3%;
display: flex;
justify-content: space-around;
}